{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>About</title>
</head>

<body>

    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam velit delectus aut dolorem autem culpa ea quos, assumenda dolores officiis eum. Commodi delectus veritatis praesentium ducimus unde facilis velit voluptatum.</p>

    <a href="/">Home</a>

</body>

</html>