{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home</title>
</head>

<body>

    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At accusamus reiciendis qui perferendis. Sed repellat assumenda eveniet dignissimos nesciunt laborum tenetur cumque animi, ipsum voluptatibus error odio, quisquam quis iste!</p>

    <h3> User name : {{ name }}</h3>
    <h3> User age : {{ age }}</h3>

    {% for fruit in fav_fruits %}
    <h3> User favorite fruits {{ forloop.counter }} : {{ fruit }}</h3>
    {% endfor %}

    {% if age > 18 %}
    <h3> User is adult : Yes </h3>
    {% else %}
    <h3> User is adult : No </h3>
    {% endif %}


    <a href="/about">About</a>

</body>

</html>